<h2>Editing Book</h2>

<%= form_for(@book) do |f| %>
    <div class="">
    	<p><%= f.label :title, "Title" %></p>
    	<%= f.text_field :title %>
    </div>
    <div class="">
    	<p><%= f.label :body, "Body" %></p>
    	<%= f.text_area :body %>
    </div>
    <%= f.submit "Update Book" %>
<% end %>

<%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>